/*menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d70b00;
}

li {
    float: left;
    width: 20%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5% 20%;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #c60600;
}

.active {
    background-color: #af0600;
}